<h2>Welcome, <%= @user.username %></h2>

<% @games.each do |game| %>
<ul>
  <li><a href='games/<%=game.id%>'><%= game.name %></a>
  (<%= game.year %>)
  <%= game.designer %></li>
</ul>
<% end %>

<a href='/games/new'>Add a Game</a></br>
<a href='/logout'>Log Out</a>
